<p>
    <mat-toolbar style="background-color: black; color: white;">
      <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>
      <span class="example-spacer"></span>
      <div class="container">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
            John  Smith
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
            Log out
          </button>
          &nbsp;&nbsp;
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
      </button>
      
    </div>
    </mat-toolbar>
  </p>
  