<div class="container-fluid">
  <div class="row" style="background-color: black; color: lightgrey;">

    <div class="col-2">
      <span><h2><b>nopCommerce</b></h2></span>
    </div>
    <div class="col-10" style="margin: 0;">
    <app-navbar></app-navbar>
  </div>

  </div>
  
  <div class="row" >
    <div class="col-2" style="background-color: black; color: lightgrey;">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-10">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
